{% extends "base.html" %}
{% load i18n %}
{% load querystring from django_tables2 %}

{% block title %}{% trans "Records" %}{% endblock %}

{% block content %}
  <div class="d-flex flex-row gap-2 align-items-center justify-content-between">
    <h1>{% trans "Records" %}</h1>

    <div>
      <button
        class="btn btn-light"
        hx-get="{% url 'records:create' %}"
        hx-target="#dialog"
      >
        {% trans "Add record" %}
      </button>
    </div>
  </div>

  <div
    class="mt-4"
    hx-trigger="load, records-changed from:body"
    hx-get="{{ request.path }}{% querystring %}"
    hx-boost="true"
    hx-target="this"
    hx-indicator="#table-indicator"
    id="records-table"
  >
    <div id="table-indicator" class="htmx-indicator text-left">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
{% endblock %}
