{% load i18n %}
{% for provider in providers %}
  <div>
    <div class="card">
      <div class="card-body position-relative">
        <a href="{{ provider.get_absolute_url }}" class="card-title fs-4 fw-medium">{{ provider.name }}</a>
        {% if include_home %}
          <div class="card-text">
            {% trans "Home" %}:
            <a href="{{ provider.home.get_absolute_url }}" class="icon-link icon-link-hover text-decoration-none">
              {{ provider.home.title }}
              <i class="bi fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
            </a>
          </div>
        {% endif %}

        <div class="card-text">{% trans 'Account number' %}: {{ provider.account_number | default_if_none:'-' }}</div>
        <div class="card-text">
          {% if provider.website_url %}
            <a href="{{ provider.website_url }}" class="icon-link icon-link-hover text-decoration-none" target="_blank">
              {{ provider.website_url }}
              <i class="bi fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
            </a>
          {% else %}
            <span>-</span>
          {% endif %}
        </div>

        {% with provider.category as category %}
          <span
            class="position-absolute top-0 end-0 p-3 fs-3 opacity-75"
            style="color: {{ category.color }}"
            title="{{ category.name }}"
          >
            <i class="{{ category.icon }}"></i>
          </span>
        {% endwith %}
      </div>

      <div class="card-body">
        <a href="{{ provider.get_absolute_url }}" class="card-link">{% trans "Details" %}</a>
      </div>
    </div>
  </div>
{% endfor %}
